/* Error: This at-rule is not allowed here.
 *    ,
 * 19 | } @else if $themeColor==green {
 *    |   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   index2.scss 19:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: This at-rule is not allowed here.\a    \2577 \a 19 \2502  } @else if $themeColor==green {\d\a    \2502    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   index2.scss 19:3  root stylesheet";
}
