$themeColor: blue;;

@if $themeColor==red {
    .container {
        background-color: gray;
        border:2px solid red;
        padding: 5px;
        h2 {
            color:rgb(139, 14, 14);
            text-align: center;
        }
        img{
            align-items: center;
            justify-content: center;
            box-shadow: 4px 4px 5px white;
        }
        p {
            color:red;
            justify-content: center;
            text-align: center;
        }
    }
} @else if $themeColor==green {
    .container {
        background-color: gray;
        border:2px solid rgb(0, 255, 106);
        padding: 5px;
        h2 {
            color:rgb(14, 139, 52);
            text-align: center;
        }
        img{
            align-items: center;
            justify-content: center;
            box-shadow: 4px 4px 5px white;
        }
        p {
            color:red;
            justify-content: center;
            text-align: center;
        }
    }
} @else if $themeColor==blue {
    .container {
        background-color: gray;
        border:2px solid rgb(0, 98, 255);
        padding: 5px;
        h2 {
            color:rgb(14, 14, 139);
            text-align: center;
        }
        img{
            align-items: center;
            justify-content: center;
            box-shadow: 4px 4px 5px white;
        }
        p {
            color:rgb(132, 0, 255);
            justify-content: center;
            text-align: center;
        }
    }
} @else {
    .container {
        background-color: gray;
        border:2px solid rgb(60, 61, 60);
        padding: 5px;
        h2 {
            color:rgb(12, 13, 13);
            text-align: center;
        }
        img{
            align-items: center;
            justify-content: center;
            box-shadow: 4px 4px 5px white;
        }
        p {
            color:red;
            justify-content: center;
            text-align: center;
        }
    }
}