body{
    background-image: url(../../images/student_PNG62550.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:auto;
    background-color:lightskyblue;
}
.logo h1:hover{
    color: red;
}
.time span{
    font-size: 40px;
}
div .text-1 span{
    font-size: 25px;
    justify-content: center;
    align-items: center;
}
div span{
    font-size: 30px;
}
.call span{
    font-size: 40px;
}
.text-2 span{
    font-size: 25px;
    justify-content: center;
    align-items: center;
}
.icons a{
    display: flex;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}
.icons span:hover{
color:red;
}
nav{
    width: 100%;
    background-color: rgba(0,0,0,0.3);  /* Set the transparency to 0.3 */
    overflow: hidden;
    color: black;
    height: 80%;
}
body section{
    padding: 5px;
    margin-top: 230px;
}
.menu li{
    margin-left: 60px;
    font-size: 30px;
}
.button a{
    margin-left: 130%;
}
#covername{
    margin-left: 65%;
    margin-bottom: 20px;
}
section h1{
    font-size: 3rem;
}
.card .icon-1 div i{
    font-size: 60px;
}
.cards-1:hover{
    background-color: lightskyblue;
}
.card{
    border: none;
    margin-left: 10px;
    justify-content: space-between;
}
.card-0 .card:hover{
    background-color: lightskyblue;
}
div .card p span{
    font-size: 15px;
}
span .card:hover{
    background-color: lightskyblue;
}
