header{
    background-color: white;
    box-shadow: 1px 3px 4px lightgray;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.logo img{
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu{
    font-family: Arial;
    justify-content: center;
    font-weight: bold;
    padding: 30px;
    margin-left: 30px;
    font-size: 20px;
}
.watch img{
    display: flex;
    justify-content: center;
    width: 100%;
}
.menu span{
    margin-left: 70px;
} 
main div{
    background-color: black;  
}
.menu span:hover{
    color: red;
}
main .watch div{
    font-size: 33px;
}
main .watch button{
    display: flex;
    justify-content: center;
}
main .watch button:hover{
    background-color: orange;
}
.navbar ul{
    text-decoration: none;
}